body {
    font-weight: bold;
    color: white;
  }

  #contenedor {
    width: 90%;
    margin: auto;
    padding: 10px;
    border: solid 1px black;
    background-color: #CCCCAA;
  }

  #contido1 {
    width: 400px;
    margin: 10px 30px;
    border: solid 1px black;
    background-color: #CCCCCC;

  }

  #contido2 {
    width: 450px;
    margin: 10px 30px ;
    padding: 10px;
    border: solid 1px black;
    background-color: #CCAAAA;
    
  }

  #caixa11 {
    width: 70px;
    height: 70px;
    background-color: #FF0000;
    border: solid 1px black;
    margin: 10px;
  }

  #caixa12 {
    width: 90px;
    height: 90px;
    background-color: #00FF00;
    border: solid 1px black;
    margin: 10px;
  }

  #caixa13 {
    width: 110px;
    height: 110px;
    background-color: #0000FF;
    border: solid 1px black;
    margin: 10px;
  }

  .caixa21 {
    width: 70px;
    height: 70px;
    background-color: #FF0000;
    border: solid 1px black;
    margin: 10px;
  }

  .caixa22 {
    width: 90px;
    height: 90px;
    background-color: #00FF00;
    border: solid 1px black;
    margin: 10px;
  }

  .caixa23 {
    width: 110px;
    height: 110px;
    background-color: #0000FF;
    border: solid 1px black;
    margin: 10px;
  }
