$menu: rgb(145, 111, 175);
$colorBlanco: white;
$borde: 1px solid black;
nav {
  background-color: $menu;
  ul {
    display: flex;
    li {
      padding: 1em;
      list-style: none;
    }
  }
}
.container {
  margin: 0 auto;

  .card {
    border: $borde;
    border-radius: 2em;
    text-align: center;
    width: 300px;
    display: inline-flex;
    flex-direction: column;

    img {
      border-radius: 2em;
      width: 250px;
      padding: 1em;
    }
    figcaption {
      padding-bottom: 1em;
    }
  }
}

.active {
  color: $colorBlanco;
}
